
.env


venv/
.venv/


__pycache__/
*.pyc
*.pyo

logs/
*.log


filtered.csv
scored_file.csv
sp500_financail_data.csv


=*
6c62b816cd92351be87f70b4b0895c0a0c63a8cb112ffd07b046517e933e8bfd

.vscode/
.idea/
*.swp
*~


.DS_Store
Thumbs.db